<table id="product_table">
  <th>Id</th>
  <th>Nume produs</th>
  <th>Cod produs</th>
  <th>Nume categorie</th>
  <th>Cantitate</th>
  <th>UM</th>
  <th>Note</th>

  <tr id="product_table_content" *ngFor="let product of products$ | async">
    <td>{{product.productId}}</td>
    <td>{{product.productName}}</td>
    <td>{{product.productCod | uppercase}}</td>
    <td>{{product.categoryName}}</td>
    <td>{{product.quantity}}</td>
    <td>{{product.unit}}</td>
    <td>{{product.notes}}</td><button class="ui-button" (click)="modifyProduct()">Modify</button>

</table>
