#product_table{
  font-size: large;
  color: #125699;
  margin-top: 50px;
  margin-left: 205px;
  margin-bottom: 2rem;
}
#product_table_content{
  align-content: center;
  font-size: 1.2rem;
  color: #1976d2;
}

.ui-button{
  border: 0;
  display: block;
  color: darkblue;
  background-color: #d8d7ff;
  font-style: oblique;
  transition: 0.5ms;
}
.ui-button:hover{
  color: red;
}
